
@{
    ViewBag.Title = "EditDish";
}

@model StillWorkingThatList.Models.Dish

<h2>Edit Dish</h2>

<form action="SaveDishEdits" method="post">
    <input type="hidden" name="DishID" value="@Model.DishID" />
    <p>First Name:</p>
    <input type="text" name="FirstName" value="@Model.FirstName" />
    <p>Last Name:</p>
    <input type="text" name="LastName" value="@Model.LastName" />
    <p>Phone Number:</p>
    <input type="number" pattern="^\d{10}$" name="PhoneNumber" @Model.PhoneNumber />
    <p>Name of Dish:</p>
    <input type="text" name="DishName" value="@Model.DishName" />
    <p>Short Dish Description:</p>
    <input type="text" name="DishDescription" value="@Model.DishDescription" /><br />

    <br /><br />
    <input type="submit" value="Save Edits" />
</form>
