
@{
    ViewBag.Title = "ViewAllDishes";




}

<h2>ViewAllDishes</h2>

<table class="table">
    <tr>
        <th>Dish Name</th>
        <th>Dish Description</th>
        <th>Dish Features</th>
        <th></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
    </tr>

    @foreach (var dish in ViewBag.DishList)
    {
        if (dish.Email == User.Identity.Name)
        {
        <tr>
            <td>@dish.DishName</td>
            <td>@dish.DishDescription</td>
            <td>@if (dish.DishGF == "yes")
            { <div class="text-success">GF</div> }
            @if (dish.DishVegan == "yes")
            { <div class="text-success">Vegan</div> }
            @if (dish.DishVegetarian == "yes")
            { <div class="text-success">Veg</div> } <td/>
            <td>@dish.FirstName</td>
            <td>@dish.LastName</td>
            <td>@dish.PhoneNumber</td>

            <td class="btn-link"><a href="~/Home/EditDish?DishID=@dish.DishID">Edit</a></td>
            <td class="btn-link"><a href="~/Home/DeleteDish?DishID=@dish.DishID">Delete</a></td>
        </tr>
        }
    }

</table>